# Pearson correlation

In [0]:
import pandas as pd
import numpy as np

## Foodmart product sales

In [0]:
sales = pd.read_csv('https://raw.githubusercontent.com/OzmundSedler/100-Days-Of-ML-Code/master/week_12/datasets/foodmart.sales.tsv', sep = '\t', header = 0, parse_dates = [2])

In [5]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83391 entries, 0 to 83390
Data columns (total 4 columns):
product_id    83391 non-null int64
store_id      83391 non-null int64
date          83391 non-null datetime64[ns]
sales         83391 non-null int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 2.5 MB

In [6]:
sales.head()

   product_id  store_id       date  sales
0           4         6 1997-01-01      4
1          25         6 1997-01-01      3
2          48         6 1997-01-01      3
3          76         6 1997-01-01      4
4         119         6 1997-01-01      3

In [4]:
sales.describe()

         product_id      store_id         sales
count  83391.000000  83391.000000  83391.000000
mean     785.412994     13.166529      3.199062
std      447.310605      6.243769      1.091561
min        1.000000      2.000000      1.000000
25%      406.000000      7.000000      3.000000
50%      789.000000     13.000000      3.000000
75%     1171.000000     17.000000      4.000000
max     1559.000000     24.000000     15.000000

In [0]:
products = pd.read_csv('https://raw.githubusercontent.com/OzmundSedler/100-Days-Of-ML-Code/master/week_12/datasets/foodmart.products.tsv', sep = '\t', header = 0)

In [7]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 15 columns):
product_class_id      1560 non-null int64
product_id            1560 non-null int64
brand_name            1560 non-null object
product_name          1560 non-null object
SKU                   1560 non-null int64
SRP                   1560 non-null float64
gross_weight          1560 non-null float64
net_weight            1560 non-null float64
recyclable_package    1560 non-null bool
low_fat               1560 non-null bool
units_per_case        1560 non-null int64
cases_per_pallet      1560 non-null int64
shelf_width           1560 non-null float64
shelf_height          1560 non-null float64
shelf_depth           1560 non-null float64
dtypes: bool(2), float64(6), int64(5), object(2)
memory usage: 161.6+ KB

In [8]:
products.head()

   product_class_id  product_id  ... shelf_height shelf_depth
0                30           1  ...        12.60        7.40
1                52           2  ...         3.71       22.60
2                52           3  ...        11.00        7.77
3                19           4  ...        18.90        7.93
4                19           5  ...        21.90       19.20

[5 rows x 15 columns]

In [9]:
products.describe()

       product_class_id   product_id  ...  shelf_height  shelf_depth
count       1560.000000  1560.000000  ...   1560.000000  1560.000000
mean          54.403205   780.500000  ...     12.915103    12.933750
std           30.872364   450.477524  ...      5.844180     5.603036
min            1.000000     1.000000  ...      3.000000     3.000000
25%           30.000000   390.750000  ...      7.867500     8.300000
50%           57.500000   780.500000  ...     12.700000    12.850000
75%           79.000000  1170.250000  ...     18.200000    17.600000
max          110.000000  1560.000000  ...     22.900000    22.900000

[8 rows x 11 columns]

In [0]:
sales = sales.merge(products[['product_id', 'product_name']], 
                    on = ['product_id'], how = 'inner')

In [11]:
sales.head()

   product_id  store_id       date  sales           product_name
0           4         6 1997-01-01      4  Washington Cream Soda
1           4         7 1997-01-05      3  Washington Cream Soda
2           4         6 1997-01-06      2  Washington Cream Soda
3           4        17 1997-01-11      2  Washington Cream Soda
4           4        24 1997-01-11      2  Washington Cream Soda

## Product-product correlation

In [0]:
sparse_sales = pd.pivot_table(sales, values='sales', index=['date', 'store_id'],
                     columns=['product_name'], fill_value = 0)

In [13]:
sparse_sales.head()

product_name         ADJ Rosy Sunglasses  ...  Washington Strawberry Drink
date       store_id                       ...
1997-01-01 6                           0  ...                            0
           14                          0  ...                            0
1997-01-02 11                          0  ...                            0
           23                          0  ...                            0
1997-01-03 7                           0  ...                            0

[5 rows x 1559 columns]

In [0]:
sales_correlation = sparse_sales.corr()

In [15]:
sales_correlation.head()

product_name                ADJ Rosy Sunglasses  ...  Washington Strawberry Drink
product_name                                     ...
ADJ Rosy Sunglasses                    1.000000  ...                     0.035745
Akron City Map                         0.076608  ...                     0.051952
Akron Eyeglass Screwdriver            -0.006581  ...                     0.163519
American Beef Bologna                  0.038685  ...                     0.055211
American Chicken Hot Dogs              0.041105  ...                    -0.008498

[5 rows x 1559 columns]

In [16]:
product_name = 'American Chicken Hot Dogs'
sales_correlation[[product_name]].sort_values(product_name, ascending = True).head()

product_name                  American Chicken Hot Dogs
product_name
Lake Pimento Loaf                             -0.065509
Fast Low Fat Chips                            -0.061037
PigTail Frozen Sausage Pizza                  -0.058960
Plato Decaf Coffee                            -0.058481
Kiwi Lox                                      -0.057037

In [17]:
min_corr = pd.DataFrame(sales_correlation.min())
min_corr.columns = ['min']
min_corr.sort_values(by = 'min').head()

                                   min
product_name
Carlson Whole Milk           -0.085064
Pearl Chardonnay Wine        -0.085064
Gulf Coast Malted Milk Balls -0.082598
Sunset Economy Toilet Brush  -0.082598
Fast Fudge Brownies          -0.082317

In [40]:
max_corr = pd.DataFrame(sales_correlation.replace(1,0)).max(axis=1)
max_corr.columns = ['max']
max_corr.sort_values(ascending=False).head()

product_name
Just Right Vegetable Soup     0.340598
Plato French Roast Coffee     0.340598
Nationeel Grape Fruit Roll    0.322176
Great Muffins                 0.322176
Skinner Strawberry Drink      0.306701
dtype: float64

In [41]:
product_name = 'Plato French Roast Coffee'
sales_correlation[[product_name]].sort_values(product_name, ascending = False).head()

product_name                      Plato French Roast Coffee
product_name
Plato French Roast Coffee                          1.000000
Just Right Vegetable Soup                          0.340598
Hermanos Macintosh Apples                          0.289095
Tell Tale Macintosh Apples                         0.273905
Consolidated Whitening Toothpast                   0.247477